<div class="modal">
  <div class="modal-content">
    <h2 class="modal-title">Добавить склад</h2>
    <form #warehouseForm="ngForm" (ngSubmit)="createWarehouse(warehouseForm)">
      <div class="form-group">
        <label for="name">Название склада</label>
        <input
          id="name"
          name="name"
          type="text"
          [(ngModel)]="newWarehouse.name"
          required
        />
      </div>

      <div class="form-group">
        <label for="type">Тип склада</label>
        <select id="type" name="type" [(ngModel)]="newWarehouse.type" (change)="filterUsersByType()" required>
          <option [value]="0">Производственный</option>
          <option [value]="1">Внутренний</option>
        </select>
      </div>

      <div class="form-group">
        <label for="location">Местоположение</label>
        <input
          id="location"
          name="location"
          type="text"
          [(ngModel)]="newWarehouse.location"
          required
        />
      </div>

      <!-- Чекбокс "Назначить начальника склада" -->
      <div class="form-group checkbox-group">
        <input
          type="checkbox"
          id="assignManager"
          [(ngModel)]="assignManager"
          (change)="filterUsersByType()"
          name="assignManager"
        />
        <label for="assignManager">Назначить начальника склада</label>
      </div>

      <!-- Поле для выбора начальника (отображается, если включен чекбокс) -->
      <div class="form-group" *ngIf="assignManager">
        <label for="responsiblePerson">Начальник склада</label>
        <select id="responsiblePerson" name="responsiblePerson" [(ngModel)]="newWarehouse.responsiblePersonId" [disabled]="noSuitableUsers">
          <option *ngFor="let user of filteredUsers" [value]="user.id">
            {{ user.firstName }} {{ user.lastName }} ({{ user.roles[0]?.name }})
          </option>
        </select>
        <p *ngIf="noSuitableUsers" class="error-message">Нет доступных пользователей. Будет назначен бухгалтер</p>
      </div>

      <div class="modal-buttons">
        <button type="submit" class="btn-primary">Сохранить</button>
        <button type="button" class="btn-secondary" (click)="closeModal()">Отмена</button>
      </div>
    </form>
  </div>
</div>
