.back-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease;
}

.back-button i {
  margin-right: 8px;
}

.back-button:hover {
  background-color: var(--primary-dark);
}
