<app-header title="Склад: {{ warehouseState?.name || 'Загрузка...' }}"></app-header>

<div class="container">
  <app-back-button></app-back-button>

  <!-- Ошибка -->
  <app-error-message *ngIf="errorMessage" [message]="errorMessage"></app-error-message>

  <!-- Спиннер -->
  <div *ngIf="isLoading" class="loading-container">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!isLoading && inventoryItems.length > 0" class="filter-panel">
    <input type="text" placeholder="Поиск по названию или поставщику" [(ngModel)]="filter.search" />

    <input type="number" placeholder="Цена от" [(ngModel)]="filter.priceMin" />
    <input type="number" placeholder="Цена до" [(ngModel)]="filter.priceMax" />

    <input type="number" placeholder="Количество от" [(ngModel)]="filter.quantityMin" />
    <input type="number" placeholder="Количество до" [(ngModel)]="filter.quantityMax" />

    <select [(ngModel)]="filter.sortBy">
      <option value="">Сортировать по...</option>
      <option value="priceAsc">Цена ↑</option>
      <option value="priceDesc">Цена ↓</option>
      <option value="quantityAsc">Количество ↑</option>
      <option value="quantityDesc">Количество ↓</option>
    </select>
  </div>


  <!-- Таблица товаров -->
  <div *ngIf="!isLoading && inventoryItems.length > 0" class="items-table">
    <h3>Материальные ценности</h3>
    <table class="styled-table">
      <thead>
      <tr>
        <th>Название</th>
        <th>Уникальный код</th>
        <th>Количество</th>
        <th>Поставщик</th>
        <th>Оценочная стоимость</th>
        <th>Срок годности</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of filteredItems()">
      <td>{{ item.name }}</td>
        <td>{{ item.uniqueCode }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.supplier }}</td>
        <td>{{ item.estimatedValue | number:'1.2-2' }} бел. руб.</td>
        <td>{{ item.expirationDate | date: 'dd.MM.yyyy' }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<app-footer></app-footer>
